<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }} | {{ page.title }}</title>

  <!-- RAC style Library -->
  <link rel="icon" type="image/x-icon" href="https://assets.rockarch.org/assets/img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="https://assets.rockarch.org/v1.0.0/main.min.css">
    <!-- Datatables styles -->
  <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">

  <!-- TODO: Add Matomo tracking code -->
</head>
