@import url("https://assets.rockarch.org/v1.0.0/main.min.css");

#main {
  grid-column: 2 / span 10;
  margin-bottom: 30px;
}

.card-list {
  grid-template-columns: repeat(1, 1fr);

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-list h2 {
  margin-top: 0;
}

.card {
  flex-direction: column;
}
